@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');




*{
  scroll-behavior:smooth;
  margin:"0";
  padding:"0";
  box-sizing: border-box;
}
body{
  background:#002d4b;
}
